<%- include('parts/header'); %>

<div class="list">



<form action="">

    <input type="text" placeholder="Add to list">
   
    <button type="submit" ><i class="material-icons">
            done
            </i></button>
</form>


<ul>

    <% todo.forEach(function(list){ %>
        <%- include('parts/todolist', {todoItem: list}); %>
      <% }); %>

</ul>


</div>


<%- include('parts/footer'); %>